body{
    background-color: beige;
    font-size: 24px;
    font-family: "Oswald", Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    background-color: steelblue;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
a {
    color: beige;
    padding: 25px;
    font-size: 24px;
}
main a {
    color: black;
    font-size: 1cm;
}
a:hover {
    background-color: beige;
    color: steelblue;
}
h1 {
    text-align: center;
}
img {
    width: 30%;
    margin: 0 auto;
    display: block;
}

p {
    width: 70%;
    line-height: 1.25cm;
    margin: 75px auto;
    background-color: lightblue;
    padding: 50px;
    border: 5px solid black;
}

footer {
    background-color: steelblue;
}
footer p {
    text-align: center;
    color: beige;
}